.outer-box{
    width: 100%;
    height: 500px;
    background: blue;
    padding: 20px;

}
.box1{
    width: 40%;
    height: 30%;
    background-color: white;
    float:left;
}

.box2{
    width: 40%;
    height: 30%;
    background-color: yellow;
    float:left;
}
.box3{
    width: 40%;
    height: 30%;
    background-color: green;
    float:left;
}
.box4{
    width: 40%;
    height: 30%;
    background-color: violet;
    float:left;
}